.lista-nomes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
    font-family: monospace;
    align-items: center;
}

.lista-nomes li {
    margin: 10px;
    width: 60%;
}

.lista-nomes .cards {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    box-shadow: 6px 6px 6px black;
    padding: 15px;
}

.cards .experiencias {
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.lista-nomes .empresa {
    font-size: 1.6em;
    width: 100%;
}