.project-page, .project-link {
    padding: 10px;
    size: 100%;
}

.display-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%
}

.project-preview {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    background-color: burlywood
}

.projects {
    width: 10%;
    height: 100%;
}

.link {
    color: black;
    border: 1px solid black;
    padding: .2em;
    background-color: azure;
}